/*body {
    background-color: #E0A59C;
    margin: 0;
    padding: 0;
    user-select: none;
  }*/
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
  }
  
  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
  }
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    padding: 20px;
    z-index: 1;
  }
  
  #rightSidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    padding: 20px;
    z-index: 9999;
  }
  
  .paletteBtn {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1;
    border-color: #ffffff;
    margin: 15px;
  }
  
  .sizeBtn {
    margin-left: 1vw;
    border-color: white;
    background-color: #000000;
  }
  
  .imgBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0A59C;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .sidebarImg {
    width: 70px;
  }
  
  #sendBtn {
    background-color: #988155;
    font-size: x-large;
    color: #ffffff;
    height: 60px;
    width: 250px;
    border: 0px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }  
  
  #sendBtn:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }  

  #myCanvas {
    /*background-color: #ffffff;
    border: 1px solid black;*/
    background-image: url('../assets/images/bg-canvas.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
  }

  .buttonTheme {
    background-color: #988155;
    font-size: x-large;
    color: #ffffff;
    height: 60px;
    width: 250px;
    border: 0px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  #discardWarn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to align items vertically */
    background-color: #000000ce;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999; /* Higher value to ensure it overlaps the canvas */
  }
  
  #discardContainer {
    border-radius: 1000px;
    display: flex;
    flex-direction: column; /* Added to align items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Added to center text horizontally */
  }

  #resultContainer {
    border-radius: 1000px;
    display: flex;
    flex-direction: column; /* Added to align items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Added to center text horizontally */
  }
  
  #resultFrame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Added to align items vertically */
    justify-content: center;
    align-items: center;
    background-color: #000000ce;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999; /* Higher value to ensure it overlaps the canvas */
  }
  
  #loadContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to align items vertically */
    background-color: #000000ce;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999; /* Higher value to ensure it overlaps the canvas */
  }
  
  #loadContainer {
    border-radius: 1000px;
    display: flex;
    flex-direction: column; /* Added to align items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Added to center text horizontally */
  }
