/*body {
    background-color: #E0A59C;
    margin: 0;
    padding: 0;
    user-select: none;
  }*/
  
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
  }
  
  #board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
  }
  .sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
  }

  #sidebar {
    position: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1vw 0 1vw;
  }
  
  #rightSidebar {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 250px;
    padding: 20px;
    z-index: 9999;
  }

  #colorPicker {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 1rem;
  }
  
  .paletteBtn {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: 1;
    border-color: #ffffff;
    margin: 15px;
  }

  .option-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .brush-size-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 15px;
    width: 100%;
  }
  
  .sizeBtn {
    margin-left: 1vw;
    border-color: white;
    background-color: #000000;
  }
  
  .imgBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0a79e;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .sidebarImg {
    width: 70px;
  }
  
  #sendBtn {
    background-color: #988155;
    font-size: x-large;
    color: #ffffff;
    height: 60px;
    width: 10rem;
    border: 0px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 1rem;
  }  
  
  #sendBtn:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }  

  #myCanvas {
    background-color: #ffffff;
    background-repeat: repeat;
    background-size: contain;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
  }

  .buttonTheme {
    background-color: #988155;
    font-size: x-large;
    color: #ffffff;
    height: 60px;
    width: 250px;
    border: 0px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  #discardWarn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000ce;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999;
  }
  
  #discardContainer {
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #resultContainer {
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #resultFrame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000ce;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: xx-large;
  }
  
  #loadContent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000ce;
    font-size: 50px;
    color: #ffffff;
    z-index: 9999; 
  }
  
  #loadContainer {
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #backButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .btn-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1vw;
    cursor:  pointer;
    border: none;
    background-color: transparent;
  }

